<!DOCTYPE html>
<html lang="ja">
 <head>
  <title>Hirolog</title>
  <link rel="stylesheet" href="./style/style.css" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico" />
  <meta charset="utf-8" />
  <meta name="author" content="Hiroki@azulitenet" />
 </head>
 <body>
  <div>
   <header>
    <div id="top"><a href="http://hiroki.azulite.net/"></a></div>
    <ul>
     <li id="blog"><a></a></li>
     <li id="wiki"><a href="./?dir=."></a></li>
     <li id="works"><a href="./?page=Works"></a></li>
     <li id="service"><a href="./?page=Service"></a></li>
    </ul>
   </header>
   <menu>
    <h3>Wiki</h3>
<!-- plugin:dirlink -->
   </menu>
   <article>
<div>Mobile</div>
<!-- article -->
   </article>
   <footer>Copyright &copy; 2012 - Hiroki All Rights Reserved. <!-- sonidori --></footer>
  </div>
 </body>
</html>
